body {
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
  }
  
  .container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .upload-form {
    width: 45%;
    margin-top: 3rem;
  }
  
  .upload-form label {
    font-size: 1.2rem;
    font-weight: bold;
  }
  
  .upload-form input[type="file"] {
    margin-top: 1rem;
    margin-bottom: 2rem;
  }
  
  .word-stats {
    width: 45%;
    margin-top: 3rem;
  }
  
  .word-stats h2 {
    margin-bottom: 1.5rem;
  }
  
  .chart-container {
    width: 100%;
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .chart-container canvas {
    margin-bottom: 2rem;
  }
  
  .selected-words {
    width: 100%;
    margin-top: 2rem;
  }
  
  .selected-words h2 {
    margin-bottom: 1.5rem;
  }
  
  .selected-words ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0;
    margin: 0;
  }
  
  .selected-words li {
    margin-bottom: 1rem;
    padding: 0.5rem;
    background-color: #d6d6d6;
    border-radius: 0.5rem;
    font-weight: bold;
    cursor: pointer;
  }
  
  .selected-words li:hover {
    background-color: #a6a6a6;
  }
  